@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  overflow: hidden;
}

:focus{
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://wallpaperaccess.com/full/84248.png");
  background-size: cover;
}

/* 
 *
 *
 *    TASKBAR
 *
 *
 */

.Taskbar{
  width: 100%;
  height: 3rem;
  background: #222;
  position: absolute;
  bottom: 0;
  color: #efefef;
  display: flex;
  justify-content: space-between;
}

.Taskbar .TaskbarIconContainer{
  display: flex;
}

.TaskbarIcon{
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #222;
  border: 0;
  color: #fff;
  font-size: inherit;
  transition: background 200ms;
}

.TaskbarIcon:hover{
  background: #333;
}

/* 
 *
 *
 *    DESKTOP
 *
 *
 */

 .DesktopIcon{
  background: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  width: 5rem;
  word-break: break-all;
  -webkit-user-drag: element;
  transition: background 200ms;
}

.DesktopIcon:hover{
  background: rgba(255,255,255,0.2);
}

.DesktopIcon .title{
  text-shadow: 0 2px 5px #222;
}

.NotepadWindow{
  width: 500px;
  height: 400px;
  background: #fff;
  position: absolute;
  z-index: 900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms, transform 200ms;
  -webkit-user-drag: element;
  box-shadow: 0 0 5px #5557;
  resize: both;
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
  max-width: 100%;
  max-height: 95%;
}

.NotepadWindow::after{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
  bottom: 0;
  border-top-left-radius: 10px;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
}

.NotepadWindow.closed{
  opacity: 0;
  transform: translate(-50%,-50%) scale(0);
}

.NotepadWindow textarea{
  font-size: inherit;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
}

.WindowHeader{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: #222;
  color: #fff;
}

.WindowHeaderIcons{
  display: inherit;
}

.WindowHeaderIcons button{
  margin-left: 10px;
}

.WindowHeader, .title, .icon{
  pointer-events: none;
}

button{
  pointer-events: initial;
}

/* 
 *
 *
 *    CONTEXTMENU
 *
 *
 */

.ContextMenu{
  width: 200px;
  background: #222;
  position: absolute;
  z-index: 1000;
}

.ContextMenu li{
  list-style-type: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 200ms;
}

.ContextMenu li:hover{
  background: #333;
}

.ContextMenu li svg{
  float:right;
}

/* 
 *
 *
 *    SAVE DIALOG
 *
 *
 */

.SaveDialog{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2rem auto;
  background: #f9f9f9;
  width: 75%;
  padding: 2rem;
  box-shadow: 2px 2px 10px #5557;
}

.SaveDialog input{
  width: 100%;
  border: 0;
  background: #eee;
  padding: 0.5rem 1rem;
}

.SaveDialog button{
  background: #222;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.SaveDialog .CloseDialog{
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  height: 20px;
}