@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  overflow: hidden;
}

:focus{
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://wallpaperaccess.com/full/84248.png");
  background-size: cover;
}

/* 
 *
 *
 *    TASKBAR
 *
 *
 */

.Taskbar{
  width: 100%;
  height: 3rem;
  background: #222;
  position: absolute;
  bottom: 0;
  color: #efefef;
  display: flex;
  justify-content: space-between;
}

.Taskbar .TaskbarIconContainer{
  display: flex;
}

.TaskbarIcon{
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #222;
  border: 0;
  color: #fff;
  font-size: inherit;
  transition: background 200ms;
}

.TaskbarIcon:hover{
  background: #333;
}

/* 
 *
 *
 *    DESKTOP
 *
 *
 */

 .DesktopIcon{
  background: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  -webkit-user-drag: element;
  transition: background 200ms;
}

.DesktopIcon:hover{
  background: rgba(255,255,255,0.2);
}

.DesktopIcon .title{
  text-shadow: 0 2px 5px #222;
}

.NotepadWindow{
  width: 500px;
  height: 400px;
  background: #fff;
  position: absolute;
  z-index: 900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms, width 200ms, height 200ms;
  -webkit-user-drag: element;
}

.NotepadWindow.closed{
  opacity: 0;
  width: 0;
  height: 0;
}

.NotepadWindow textarea{
  font-size: inherit;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  resize: none;
}

.WindowHeader{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: #222;
  color: #fff;
}

.WindowHeader span{
  pointer-events: none;
}
